<h1>{{title}}</h1>

<form action="{{action}}" method="POST">
  <label>
    Titre<br>
    <input type="text" name="title" required>
  </label>
  <br>
  
  <label>
    Description<br>
    <textarea name="description" rows="4" required></textarea>
  </label>
  <br>

  <label>
    Date de sortie<br>
    <input type="date" name="releaseDate" required>
  </label>
  <br>

  <label>Genres</label>
  <table border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>Choisir</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      {{#each genres}}
        <tr>
          <td style="text-align:center;">
            <input type="checkbox" name="genreIds[]" value="{{id}}">
          </td>
          <td>{{nom}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
<br>

  <br>

  <label>
    Éditeur<br>
    <select name="editeurId" required>
      {{#each editeurs}}
        <option value="{{id}}">{{nom}}</option>
      {{/each}}
    </select>
  </label>
  <br>

  <label>
    <input type="checkbox" name="featured">
    Mettre en avant (afficher sur la page d'accueil)
  </label>
  <br><br>

  <button type="submit">Créer</button>
</form>
