<h1>Tous les jeux</h1>

<p>
  <a href="/games/new">+ Ajouter un jeu</a>
</p>

{{#if games.length}}
  <ul>
    {{#each games}}
      <li>
        <a href="/games/{{this.id}}">
          <strong>{{this.titre}}</strong>
        </a>
        —
        {{this.editeur.nom}}
        —
        {{#each this.genres}}
          {{this.genre.nom}}{{#unless @last}}, {{/unless}}
        {{/each}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Il n'y a pas encore de jeux.</p>
{{/if}}
