<h1>{{genre.nom}}</h1>

<h2>Jeux de ce genre</h2>

{{#if genre.jeux.length}}
  <ul>
    {{#each genre.jeux}}
      <li>
        <a href="/games/{{this.jeu.id}}">
          {{this.jeu.titre}}
        </a>
        {{#if this.jeu.editeur}}
          ({{this.jeu.editeur.nom}})
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Il n'y a pas encore de jeux pour ce genre.</p>
{{/if}}
