<h1>{{title}}</h1>

{{#if query.error}}
  <div class="alert alert-danger">
    Erreur lors de l'enregistrement. Veuillez réessayer.
  </div>
{{/if}}

<form action="{{action}}" method="{{method}}">
  <div>
    <label for="nom">Nom de l'éditeur :</label>
    <input type="text" id="nom" name="nom" value="{{editeur.nom}}" required>
  </div>
  
  <button type="submit">{{submitLabel}}</button>
  <a href="/editeurs{{#if editeur.id}}/{{editeur.id}}{{/if}}">Annuler</a>
</form>